################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/AutomationSystem/bin/Debug/Calibration
/AutomationSystem/bin/Debug/ExternTool
/AutomationSystem/bin/Debug/History
/AutomationSystem/bin/Debug/Temp
/AutomationSystem/bin/Debug
/BuildDLL/packages/SharpZipLib.1.3.1
/BuildDLL/UIControl.HalconVision.pdb
/BuildDLL/UIControl.HalconVision.dll
/BuildDLL/UIControl.Common.pdb
/BuildDLL/UIControl.Common.dll
/BuildDLL/ICSharpCode.SharpZipLib.xml
/BuildDLL/ICSharpCode.SharpZipLib.pdb
/BuildDLL/ICSharpCode.SharpZipLib.dll
/BuildDLL/halcondotnet.xml
/BuildDLL/halcondotnet.dll
/BuildDLL/Halcon.Functions.pdb
/BuildDLL/Halcon.Functions.dll
/BuildDLL/Global.Functions.pdb
/BuildDLL/Global.Functions.dll
/BuildDLL/CommonLibrary.Manager.pdb
/BuildDLL/CommonLibrary.Manager.dll
/BuildDLL/CommonLibrary.Layout.pdb
/BuildDLL/CommonLibrary.Layout.dll
/BuildDLL/CommonLibrary.ExtensionUtils.pdb
/BuildDLL/CommonLibrary.ExtensionUtils.dll
/BuildDLL/CommonLibrary.DataHelper.pdb
/BuildDLL/CommonLibrary.DataHelper.dll
/BuildDLL/CommonLibrary.Controls.pdb
/BuildDLL/CommonLibrary.Controls.dll
/Calibration
/ExternTool
/UIControl/UIControl.HalconVision/obj/Debug
/UIControl/UIControl.Common/obj/Debug
/ThirdPartyDLL
/Halcon/Halcon.XLDMatch/obj/Debug
/Halcon/Halcon.Threshold/obj/Debug
/Halcon/Halcon.TextShow/obj/Debug
/Halcon/Halcon.ShapeMatch/obj/Debug
/Halcon/Halcon.ROI/obj/Debug
/Halcon/Halcon.RgbToGray/obj/Debug
/Halcon/Halcon.ReadImage/obj/Debug
/Halcon/Halcon.PointLineIntersection/obj/Debug
/Halcon/Halcon.NoROI/obj/Debug
/Halcon/Halcon.ManualCalibration/obj/Debug
/Halcon/Halcon.LocalThreshold/obj/Debug
/Halcon/Halcon.LinesIntersection/obj/Debug
/Halcon/Halcon.HysteresisThreshold/obj/Debug
/Halcon/Halcon.GrayMatch/obj/Debug
/Halcon/Halcon.FindLine/obj/Debug
/Halcon/Halcon.FindCircle/obj/Debug
/Halcon/Halcon.Delay/obj/Debug
/Halcon/Halcon.CoordinateConversion/obj/Debug
/Halcon/Halcon.BinaryThreshold/obj/Debug
/Halcon/Halcon.AutoCircleCalibration/obj/Debug
/Global/Functions/obj/Debug
/Halcon/Functions/obj/Debug
/CommonLibrary/Manager/obj/Debug
/CommonLibrary/Layout/obj/Debug
/CommonLibrary/Controls/obj/Debug
/CommonLibrary/CommonLibrary.ExtensionUtils/obj/Debug
/CommonLibrary/CommonLibrary.DataHelper/obj/Debug
/AutomationSystem/obj/Debug
/.vs/IntegratedSoftware/v16/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/AutomationSystem/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CommonLibrary/CommonLibrary.DataHelper/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CommonLibrary/CommonLibrary.DataHelper/obj/Release/CommonLibrary.DataHelper.csproj.ResolveComReference.cache
/CommonLibrary/CommonLibrary.DataHelper/obj/Release/Interop.ADOX.dll
/CommonLibrary/CommonLibrary.ExtensionUtils/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CommonLibrary/Controls/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CommonLibrary/Layout/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/CommonLibrary/Manager/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Functions/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.AutoCircleCalibration/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.BinaryThreshold/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.CoordinateConversion/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.Delay/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.FindCircle/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.FindLine/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.GrayMatch/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.HysteresisThreshold/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.LinesIntersection/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.LocalThreshold/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.ManualCalibration/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.NoROI/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.PointLineIntersection/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.ReadImage/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.RgbToGray/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.ROI/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.ShapeMatch/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.TextShow/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.Threshold/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Halcon/Halcon.XLDMatch/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/UIControl/UIControl.Common/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/UIControl/UIControl.HalconVision/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
